*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.sublime-project
.sublime-workspace
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.rvmrc
.rvmrc*

#Rails configs
config/config.yml
config/database.yml

.tags
.tags_sorted_by_file
*.sublime-*
db/schema.rb